<nav class="navbar">
  <a routerLink="/" class="navbar__logo text-4xl">MyApp</a>

  <ul class="navbar__links text-2xl font-bold">
    <li><a routerLink="/home" routerLinkActive="active">Home</a></li>
    <li>
      <a routerLink="/expensive-tracker" routerLinkActive="active"> Tracker-App </a>
    </li>
    <li>
      <a routerLink="/todo-list" routerLinkActive="active"> Todo-App </a>
    </li>
    <li>
      <a routerLink="/stopp-watch" routerLinkActive="active"> Stopp-Watch</a>
    </li>
    <li>
      <a routerLink="/quiz" routerLinkActive="active"> Quiz</a>
    </li>
    <li>
      <a routerLink="/g-password" routerLinkActive="active"> Password-generate</a>
    </li>
    <li>
      <a routerLink="/github" routerLinkActive="active"> Github</a>
    </li>
  </ul>
</nav>
